
<script type="text/javascript">
    // Load json-schema for field validation
    var globalJsonSchema = <%= raw @schema.to_json %>;
</script>

<div class="row row-content">
  <section>
    <h1>Super Simple JSON Schema Form Interpretation</h1>

    <%= form_tag 'variable', method: :post, id: 'umm-var-form' do %>
      <fieldset>
        <h2><%= @schema['title'] %></h2>
        <p><%= @schema['description'] %></p>

        <% @schema.fetch('properties', []).each do |property_name, property| %>
          <%= render partial: 'property', locals: { property_name: property_name, property: property, required_fields: @schema.fetch('required', []) } %>
        <% end %>

      </fieldset>

      <%= submit_tag 'Submit', class: 'eui-btn--blue' %>
    <% end %>

  </section>
</div>


<script type="text/javascript">
  $(document).ready(function() {
    $("#umm-var-form").validate()
  })
</script>


<!-- help modal -->
<div id="help-modal">
  <a href="javascript:void(0);" class="modal-close float-r"><i class="fa fa-times"></i><span class="is-invisible">Close</span></a>
  <div>
    <h4 class="title">title</h4>
    <p class="description"></p>
  </div>
  <div>
    <h4>Validation</h4>
    <ul class="validations"></ul>
  </div>
  <a class="eui-btn--blue modal-close" href="javascript:void(0);">Close</a>
</div>
