<div class="row row-content">
  <section>
    <h1>Super Simple JSON Schema Form Interpretation</h1>
    <p>
      <pre><%= JSON.pretty_generate(@schema) %></pre>
    </p>

    <%= form_tag 'variable', method: :post, id: 'umm-var-form', class: 'umm-form' do %>
      <h2><%= @schema['title'] %></h2>
      <p><%= @schema['description'] %></p>

      <% @form['forms'].each do |form_section| %>
        <fieldset>
          <%= render_form_element(form_section, @schema, @object) %>
        </fieldset>
      <% end %>

      <%= submit_tag 'Submit', class: 'eui-btn--blue' %>
    <% end %>

  </section>
</div>

<script>
  // Load json-schema for field validation
  var globalJsonSchema = <%= raw @schema.to_json %>;

  $(document).ready(function() {
    $("#umm-var-form").validate()
  })
</script>

<!-- Help Modal -->
<div id="help-modal">
  <a href="javascript:void(0);" class="modal-close float-r"><i class="fa fa-times"></i><span class="is-invisible">Close</span></a>
  <div>
    <h4 class="title">title</h4>
    <p class="description"></p>
  </div>
  <div>
    <h4>Validation</h4>
    <ul class="validations"></ul>
  </div>
  <a class="eui-btn--blue modal-close" href="javascript:void(0);">Close</a>
</div>